body {
  text-align: center;
}

a {
  margin-right: 10px;
  margin-left: 10px;
  background-color: orange;
}

#featured-property p {
  text-align: center;
  width: 500px;
}

#details div {
  float: left;
  width: 25%;
  background-color: red;
}

#figcaption {
  font-size: 14px;
}