body {
  text-align: center;
}

a {
  margin-right: 10px;
  margin-left: 10px;
  background-color: orange;
}

featured-property p {
  width: 800px;
}

details div {
  float: left;
  width: 25%;
}

figcaption {
  font-size: 14px;
}